<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</th:block>

<div layout:fragment="content">
    <div class="sample-container">
        <h2>이것은 Thymeleaf 레이아웃을 사용한 샘플 컨텐츠입니다.</h2>
        <p>이 내용은 <code>layout/layout.html</code> 파일의 <code>&lt;div layout:fragment="content"&gt;</code> 블록 안에 삽입됩니다.</p>
        <p>공통 헤더, 푸터, 그리고 기본 CSS는 <code>layout/layout.html</code>에서 제공됩니다.</p>
        <ul>
            <li>레이아웃 상속 확인</li>
            <li>컨텐츠 프래그먼트 삽입 확인</li>
            <li>페이지별 CSS 적용 확인</li>
            <li>페이지별 JavaScript 적용 확인</li>
        </ul>
    </div>
</div>

<th:block layout:fragment="script">
    <script>
        // 여기에 페이지별 JavaScript를 작성

    </script>
</th:block>